.panel {
  padding: 16px;
  margin: 8px;
  border: 2px solid var(--grey1);
  border-radius: 4px;
  background-color: var(--white2);
}

.centeredX > .panel,
.centeredY > .panel {
  display: inline-block;
}

.centeredX {
  display: flex;
  justify-content: center;
  width: 100%;
}

.centeredY {
  height: calc(100% - 8px);
  display: flex;
  align-items: center;
}
