.body,
.label,
.link {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--black1);
}

.link,
.body {
  font-size: 14px;
  line-height: 20px;
}

.link {
  color: var(--brand1);
}

.label {
  font-size: 12px;
  line-height: 16px;
}

.labelOuter {
  padding-bottom: 4px;
}
